{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Shri Vishwanath Temple </title>
        <link href="{% static 'css/custom.css' %}" type="text/css" rel="stylesheet">
</head>

<body>
        {% include "messages_display.html" %}
        {% block main %}
        {% endblock %}
       <h1>Fill details.</h1>
    {% if list %}
		<form method="post" action="{% url 'book_darshan' %}">
		    {% csrf_token %}
		    
		
	        <table #1 style="width:100%">
	        <caption>Select Darshan</caption>
	        <tr>
	        <th>price</th>
	        <th>max_bookings</th>
	        <th>start_time</th>
	        <th>end_time</th>
	        <th>Select</th>
	        </tr>
	        {% for darshan in list %}
	        <tr>
	        <td>{{ darshan.price }}</td>
	        <td>{{ darshan.max_bookings }}</td>
	        <td>{{ darshan.start_time }}</td>
	        <td>{{ darshan.end_time }}</td>
	        <td><input type="radio" name="id" value="{{ darshan.id }}" /></td>
	       
	        </tr>
	       	{% endfor %}
	       </table>

		    {% if list2 %}
	        <table #2 style="width:100%">
	        <caption>Select Pilgrims</caption>
	        <tr>
	        <th>First Name</th>
	        <th>Last Name</th>
	        <th>Gender</th>
	        <th>DOB</th>
	        <th>Aadhar</th>
	        <th>Select</th>
	        </tr>
	        {% for pilgrim in list2 %}
	        <tr>
	        <td>{{ pilgrim.first_name }}</td>
	        <td>{{ pilgrim.last_name }}</td>
	        <td>{{ pilgrim.gender }}</td>
	        <td>{{ pilgrim.dob }}</td>
	        <td>{{ pilgrim.aadhar_card_no }}</td>
	        <td><input type="checkbox" name="book_for" value="{{ pilgrim.aadhar_card_no }}" /></td>
	        </tr>
	        
	        {% endfor %}
	        {% else %}
	        <p>No pilgrims added. Add pilgrims to book for them.</p>
	        {% endif %}
	        </table>
		    Book For Self:<input type="checkbox" name="book_for_self" value="self" />
		    <br>
		    <input type="submit" value="submit" />
		

		</form>
	{% else %}
    <p>No darshans added.</p>
    {% endif %}
</body>

	        
